{% extends 'base.html' %}

{% block title %}Home - Bibliotroca{% endblock %}

{% block content %}
    <h1>Bem-vindo à Bibliotroca!</h1>

    {% if user.is_authenticated %}
    <p>Olá, {{ user.nome_completo }}!</p>
        <p><a href="{% url 'mensagens_recebidas' %}">Ver Mensagens Recebidas</a>
        {% if mensagens_nao_lidas > 0 %}
            <span style="color: red;">({{ mensagens_nao_lidas }})</span>
        {% endif %}
        </p>
     
    {% else %}
        <p>Bem-vindo(a) à Bibliotroca! Faça login ou cadastre-se para começar.</p>
     
    {% endif %}

    <p class="slogan">Trocar livros é semear ideias, espalhar histórias e transformar vidas — um gesto que cultiva o poder das palavras.</p>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock %}